@import url("https://fonts.googleapis.com/css?family=El+Messiri");

.fixed {
    position: sticky;
    top:0; 
    left:0;
    width: 100%; 
    background-color: transparent;
    z-index: 10;
    z-index: 10;

}
p{
    font-size: 1.2em;
}
.hidediv{
    transition-delay:0.5s all ease ; 
        display: none;
}
  .hide{
  position: fixed;
  }