@import url("https://fonts.googleapis.com/css?family=El+Messiri");
#myHeader{
    position: fixed;
    background-color: transparent;
    background: transparent;
    backface-visibility: hidden;
}
.navbar{
    background: transparent;
}
#button_head{
    background: black;
}
.fixed {
    position: sticky;
    top:0; 
    left:0;
    background-color: transparent;
    z-index: 10;
    z-index: 10;
    

}
button:focus {
    outline:0;
}
p{
    font-size: 1.5em;
}
.hidediv{
    transition:0.3s; 
    transition-timing-function: ease;
        display: none;
        position: absolute;
    transition-delay: 2000ms
}
  .hide{
  position: fixed;
  z-index: -99;
  }
  
  .headertoggle .newnavbar{
    transition: 0.3s;
    background-color:black;
    color: white;
}